@import './variables.scss';
.el-menu-item{
  transition: border-color 0s, background-color 0s, color 0s;
}

#app {

  // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: calc(18px + #{$sideBarWidth});
    position: relative;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width:calc(18px + #{$sideBarWidth}) !important;
    position: fixed;
    font-size: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1001;
    overflow: hidden;
    padding: 10px;
    background: url(~@/assets/sidebar.png) no-repeat;
    background-size: 100% 100%;
    .svg-icon {
      opacity: 0;
    }

    // 第一级菜单
    .lit-menu>.menu-wrapper>.el-submenu {
      &.is-active {
        .el-submenu__title {
          font-weight: 600 !important;
        }
      }

      &.is-active>.el-submenu__title {
        color: #000 !important;
        background: #ffff00 !important;
        border-radius: 20px;
      }

      
    }

    .lit-menu>.menu-wrapper>a>.el-menu-item {
      
      &.is-active {
        font-weight: 600;
        color: #000 !important;
        background: #ffff00 !important;
        border-radius: 20px;

      }

    }

    .router-link-exact-active {
      .svg-icon {
        display: none;
      }
      &>.el-menu-item {
        font-weight: 600;
        color: #000 !important;
        background: #ffff00 !important;
        border-radius: 20px;
  
      }
      .el-menu-item::before {
        width: 10px;
        height: 10px;
        display: inline-block;
        content: '';
        background-color: $base-color-default;
        border-radius: 50%;
        display: inline-block;
        padding: 3px;
        margin-right: 10px;
      }
    }

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .menu-wrapper {

      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          font-weight: 600;
          color: #000 !important;
          background: #ffff00 !important;
          border-radius: 20px;
        }
      }

      .is-active>.el-submenu__title {
        color: $subMenuActiveText !important;
      }

      & .nest-menu .el-submenu>.el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        background-color: $subMenuBg !important;

        &:hover {
          background-color: $subMenuHover !important;
        }
      }
    }


  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .svg-icon {
      margin-right: 0px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 9px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 9px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // 适配移动端, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
      padding-left: 0;
    }

    .sidebar-container {
      transition: transform .28s;
      width: calc(18px + #{$sideBarWidth}) !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        display: none;
        transform: translate3d(- calc(18px + #{$sideBarWidth}), 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  .nest-menu {
    .is-active {
      .el-submenu__title {
        font-weight: 600 !important;
        color: #000 !important;
        background: #ffff00 !important;
        border-radius: 20px;
      }
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}